<mat-card class="cardWithShadow">
  <mat-card-content>
    @if (invoice()?.id != null && cities().length>0) {
      <form [formGroup]="editForm" (ngSubmit)="saveDetail()">
      <span>
          <div class="row m-b-24">
            <div class="col-sm-4 d-flex align-items-center">
              <h4 class="f-s-14 f-s-18 f-w-600">
                #{{ invoice()?.order_code ?? "" + invoice()?.id }}
              </h4>
            </div>
            <div class="col-sm-8 text-right">
              <a
                routerLink="/apps/invoice/list"
                mat-flat-button
                class="bg-error text-white m-r-10"
              >
                Cancel
              </a>

              <button mat-flat-button color="primary" type="submit">
                Save Invoice
              </button>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row p-y-24 justify-content-between">
            <div class="col-sm-6">
              <span class="f-w-600 f-s-15">
                {{ "orders.invoice.order_status" | translate }}:
              </span>
              <!-- <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 "> -->
              <span
                class="p-x-8 p-y-4 f-w-500 rounded-pill f-s-12"
                [style.background-color]="'#' + invoice()?.status_color?.color"
                [style.color]="'#' + invoice()?.status_color?.text_color"
              >
                {{ "orders.status_number." + invoice()?.status | translate }}
              </span>
              <!-- </h6> -->
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
              <div class="text-right">
                <span class="f-w-600 f-s-15 m-b-8"> Order Date </span>
                <!-- <h6 name="date" class="m-t-5 m-b-0 f-w-500 f-s-14 f-s-16" [(ngModel)]="invoice().orderDate"
                ngDefaultControl> -->
                {{ invoice()?.date | date: "fullDate" }}
                <!-- </h6> -->
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row m-y-24 p-t-24">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Client name"
                  formControlName="name"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone</mat-label>
                <input
                  matInput
                  placeholder="Enter Phone"
                  formControlName="phone"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>City</mat-label>
                <mat-select
                  formControlName="city_id"
                  [compareWith]="compareById"
                  id="city"
                >
                  @for (city of cities(); track city.id) {
                    <mat-option [value]="city.id">{{
                      city.name_ar
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Areas</mat-label>
                <mat-select
                  formControlName="area_id"
                  [compareWith]="compareById"
                  [disabled]="areas().length === 0"
                >
                  @for (area of areas(); track area.id) {
                    <mat-option [value]="area.id">
                      {{ area.name_ar }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Address</mat-label>
                <input
                  matInput
                  placeholder="Enter Address"
                  formControlName="address"
                />
              </mat-form-field>
            </div>
          </div>
        
      </span>
      <button type="button" mat-flat-button color="primary" (click)="addItem()">Add Item</button>
        <div class="table-responsive">
          <table
            id="tblAdd"
            class="table table-hover b-1 no-wrap w-100 rounded text-left"
          >
            <thead>
              <tr>
                <th class="p-16">#</th>
                <th class="p-16">Item Name</th>
                <th class="p-16">Unit Price</th>
                <th class="p-16">Units</th>
                <th class="p-16">Unit Total Price</th>
                <th class="p-16"></th>
              </tr>
            </thead>

          </table>
        </div>

        <div class="text-right m-t-30">
          <div class="text-right m-t-30">
            @if (addForm.get("rows")) {
              <button
                color="accent"
                mat-flat-button
                [disabled]="addForm.invalid"
              >
                Add row
              </button>
            }

            <h5 class="m-b-5 f-w-600 f-s-16">Sub total: {{ subTotal() }}</h5>
            <h5 class="f-w-600 f-s-16 m-b-24">Total Vat: {{ vat() }}%</h5>
            <mat-divider></mat-divider>
            <h3 class="m-b-0 p-t-20 f-s-18">Grand Total: {{ grandTotal() }}</h3>
          </div>
        </div>
      </form>
    } @else {
      <div class="text-center">
        <mat-spinner class="m-auto" diameter="50"></mat-spinner>
      </div>
    }
  </mat-card-content>
</mat-card>
