<mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center">
           <div
          class="bg-light-{{color}} rounded icon-48 d-flex align-items-center justify-content-center"
        >
          <i
            class="iconify f-s-24 d-flex text-{{color}}"
            [attr.data-icon]="icon"
          ></i>
        </div>
          <div class="m-l-12 text-left">
            <h4 class="f-s-20 f-w-400 m-t-8">
              {{ title }}
            </h4>
            <h2 class="m-t-4 f-s-24 f-w-400 m-t-8 text-gray-600">
              {{ subtitle }} <span class="text-success ml-2 f-w-600">{{percentage}}</span>
            </h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>