<mat-card class="cardWithShadow overflow-hidden position-relative h-100">
  @if (selectedProduct()) {
    <div class="p-24 overflow-y-auto h-100 position-relative">
      <app-view-product
        [productInput]="selectedProduct()"
        (back)="selectedProduct.set(null)"
        (addProduct)="onAddProductFromView($event)"
      ></app-view-product>
    </div>
  } @else {
    <mat-sidenav-container class="email-box">
      <mat-sidenav #mailnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="mail-sidebar">
        <ng-scrollbar class="position-relative" style="height: 100%">
          <h5 class="m-0 p-t-16 p-x-32 f-s-14 f-w-600">Filter by Category</h5>
          <div class="p-16">
            <mat-nav-list>
              @for(folder of folders; track folder){
              <mat-list-item role="listitem" class="m-b-2 gap-10 active-primary" [ngClass]="{
                  'bg-primary': selectedCategory === folder.name
                }" (click)="getCategory(folder.name)">
                <span matListItemIcon class="m-r-0">
                  <i-tabler name="{{ folder.icon }}" class="icon-18"></i-tabler>
                </span>
                <span matListItemTitle class="f-w-400 f-s-14">{{
                  folder.name | titlecase
                  }}</span>
              </mat-list-item>
              }
            </mat-nav-list>
          </div>
          <h5 class="m-0 p-t-16 p-x-32 f-s-14 f-w-600 b-t-1">Sort By</h5>
          <div class="p-16">
            <mat-nav-list>
              @for (note of notes; track note) {
              <mat-list-item role="listitem" class="m-b-2 gap-10 active-primary"
                [ngClass]="{ 'bg-primary': selectedSortBy === note.name }" (click)="getSorted(note.name)">
                <span matListItemIcon class="m-r-0">
                  <i-tabler name="{{ note.icon }}" class="icon-18"></i-tabler>
                </span>
                <span matListItemTitle class="f-w-400 f-s-14">{{
                  note.name | titlecase
                  }}</span>
              </mat-list-item>
              }
            </mat-nav-list>
          </div>
          
          <h5 class="m-0 p-t-16 p-x-32 f-s-14 f-w-600 b-t-1">By Pricing</h5>
          <div class="p-16 pricing-section">
            <mat-slider min="0" max="10000" discrete="true" [displayWith]="formatLabel">
              <input value="0" matSliderStartThumb (input)="getPricing($event, 'start')"  [(ngModel)]="startValue" discrete="true"   />
              <input value="10000" matSliderEndThumb (input)="getPricing($event, 'end')"  [(ngModel)]="endValue" discrete="true"   />
            </mat-slider>
          </div>
          <div class="b-t-1 p-20">
            <button mat-flat-button class="w-100 m-y-20" (click)="getRestFilter()">
              Reset Filters
            </button>
          </div>
        </ng-scrollbar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="product-content-wrapper">
          <div class="d-flex align-items-center justify-content-between m-b-24">
            @if(!isMobileView){
            <h6 class="f-s-20 f-w-600">Products</h6>
            } @if(isMobileView){
            <button mat-mini-fab class="bg-primary text-white" aria-label="Example icon button with a delete icon"
              (click)="mailnav.toggle()">
              <i-tabler class="icon-18 d-flex" name="menu"></i-tabler>
            </button>
            }

            <div class="grow d-flex justify-content-end">
              <mat-form-field class="hide-hint" appearance="outline" [ngClass]="{
                  'w-30': !isMobileView,
                  searchBar: isMobileView
                }">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Search Product" [(ngModel)]="searchText" (ngModelChange)="searchProducts()" />
                @if(searchText){
                <button matSuffix mat-icon-button aria-label="Clear" (click)="getProductList()">
                  <mat-icon>close</mat-icon>
                </button>
                }
              </mat-form-field>
            </div>
          </div>

          @if(isProductLoading()){
            <div class="spinner-container">
              <mat-spinner></mat-spinner>
            </div>
          }@else{
            <div class="row">
              @for(productcard of filteredCards; track productcard.name) {
              <div class="col-sm-6 col-lg-3 p-x-12 my-3">
                <mat-card class="cardWithShadow productcard overflow-hidden b-1 cursor-pointer"
                  (click)="getviewDetails(productcard)">
                  <a routerLink="/widgets/cards">
                  <div class="img-wrapper position-relative">
                    <img src="assets/images/products/blank_200_200.png"
                      style="background-size: cover;background-position: center;background-image: url('{{productcard.image}}'); width:100%" alt="imgSrc"
                      class="w-100" mat-card-image />
                  </div>
                </a>

                <mat-card-content class="p-b-24 p-t-12 position-relative">
                  <mat-card-title class="mat-headline-2 f-s-16 m-b-4 text-ellipsis text-nowrap">
                    {{ productcard.name }}
                  </mat-card-title>

                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <h6 class="f-s-16 f-w-600">${{ productcard.price }}</h6>
                      <span class="f-s-14 m-l-8 text-decoration-line-through">${{ productcard.price }}</span>
                    </div>
                    <div class="d-flex align-items-center gap-1">
                      @if(productcard.rating !== undefined){
                      @for (star of [1, 2, 3, 4, 5]; track star) {
                      <i-tabler name="star" class="icon-17 text-warning"
                        [ngClass]="getStarClass(star, productcard.rating )"></i-tabler>
                      }
                      }
    
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            }@empty {
            <div class="col-12 text-center p-4 m-t-30">
              <img src="assets/images/products/empty-products.png" class="mx-auto mt-5" width="200" height="200" />
              <div class="f-s-48 f-w-600">There is no Product</div>
              <div class="f-s-14 f-w-500">
                The Product you are searching is no longer available.
              </div>
              <button mat-flat-button (click)="getDefaultProductList()" class="m-t-10">
                Try Again
              </button>
            </div>
            }
            </div>
          }
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  }
</mat-card>